/* | Baris                                                       | Fungsi                                                                                     |
| ----------------------------------------------------------- | ------------------------------------------------------------------------------------------ |
| `* { box-sizing: border-box; }`                             | Agar semua elemen menghitung ukuran lebih rapi dan terkontrol.                             |
| `body { font-family: 'Quicksand'; margin: 0; padding: 0; }` | Mengatur jenis font dan menghilangkan spasi default pada body agar layout tidak melenceng. |
 

*/

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
  }
  
  /* ! Header */

  header {
    display: inline;
    /* border: 10px solid black; */
  }
 
 .jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}
/* Ukuran huruf: besar (20px)

Dikasih ruang dalam 60px (biar nggak sempit)

Latar belakang warna biru cerah

Tulisan di tengah

Warna tulisan: putih */

nav {
    background-color: rgba(0, 162, 198, 0.7); /* biru transparan */
    padding: 5px;
    border-radius: 2px;
    position: sticky;
    top: 0;
    margin-top: 20px;
    border-radius: 20px;
}
/* Menu di atas punya warna biru transparan

Lengkung di pinggir (bulat)

Menempel di atas saat digulir (sticky!)

Ada jarak atas 20px */

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

nav li {
  list-style-type: none;
  margin-right: 20px;
  margin-left: 20px;
}
/* Titik atau angka di depan menu dihilangkan, dan diberi jarak kanan kiri. */


nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
/* Huruf ukuran 18px

Tidak ditebalkan

Tidak ada garis bawah

Warna: putih */

nav a:hover {
    font-weight: bold; 
    /* huruf jadi tebal ketika di arahkan ke mouse */
}

/* ! MAIN */

main {
    padding: 25px;
    overflow: auto;
    border: 10px solid #00c8eb;
    margin: 10px;
}
/* padding = jarak antara isi elemen dengan batas dalam kotak elemen (border). */

#content {
    float: left;
    width: 70%;
    border: 10px solid #00c8eb;
    padding: 10px
}

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* border: 10px solid #00c8eb; */
    padding: 20px;
    margin-top: 20px;
  }

h2, h3 {
    color: #00c8eb;
    border: 10px solid #00c8eb;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border: 10px solid #00c8eb;
}

/* ! ASIDE */

aside{
    float: right;
    width: 30%;
    padding-left: 20px;
    /* border: 10px solid #00c8eb;  */
    /* margin-left: 2px; */
    /* padding: 20px; */
}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

.info table tr th {
    display: inline;
    margin-right: 20px;
    /* border: 5px solid #00c8eb; */
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Quicksand', sans-serif;
}

/* th, td {
  border: 1px solid #00a2c6;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #e0f7fa;
  color: #006064;
}

td {
  background-color: #f1fefe;
} */


footer {
    padding: 20px;
    text-align: center;
    background-color: #00c8eb;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

  @media screen and (max-width: 1000px) {
    #content, aside {
      width: 100%;
      padding: 0;
    }
  }